html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */
  .box {
   width: 200px;
   height: 200px;
   margin: 80px auto;
   display: flex;
   justify-content: center;
   align-items: center;

   /* Set the font size using rems*/
   font-size: 1.125rem; /* 18px / 16px = 1.125rem */

   /*Set the background colour*/
   background: rgba(249, 1, 0, 1);

   /* Set the text color and text shadow */
   color: rgb(255, 255, 255, 0.9);
   text-shadow: 1px 1px 0 black;

   /* Apply a subtle border radius */
   border-radius: 10px;

   /* border with a dark color than background color */
   border: 1px solid rgb(136, 1, 0, 1);

   /* Apply a linear gradient */
   background-image: linear-gradient(to bottom right, transparent, 30%, rgba(0, 0, 0, 0.2));

   /* Apply box shadows for a raised 3D look */
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7), 
   inset 5px 5px 5px rgba(255, 255, 255, 0.2), 
   inset -5px -5px 5px rgba(0, 0, 0, 0.3);

   /* Dividing the 20px by the font size (html) to get the rems value */
  
   font-size: 1.25rem;
   text-align: center;
   text-shadow: 1px 1px 1px black;
 }